@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none !important;
  font-size: 17px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: #EAEAEA;
  position: relative;
}

body .apple {
  position: absolute;
  top: 30px;
  left: 300px;
}

body .title {
  margin-bottom: 20px;
}

body .title h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
}

body .logo a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

body .itc-slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

body .itc-slider {
  width: 560px;
}

body header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body header .navbar .choose-model {
  height: 21px;
  padding-left: 30px;
  margin-left: -550px;
  background: url(../img/mobile.svg) center no-repeat;
  background-position: left;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

body header .navbar .choose-model p {
  height: 18px;
  padding-top: 4px;
}

body header .navbar .choose-model::before {
  content: "";
  width: 5px;
  height: 1px;
  position: absolute;
  border: 1px solid #000;
  background: #000;
  transform: rotate(45deg);
  top: 10px;
  left: 245px;
}

body header .navbar .choose-model::after {
  content: "";
  width: 5px;
  height: 1px;
  position: absolute;
  border: 1px solid #000;
  background: #000;
  transform: rotate(-45deg);
  top: 10px;
  left: 247.5px;
}

body header .navbar .choose-model .menu-for-btn {
  z-index: 100;
  background: #EAEAEA;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 30px 30px;
  padding: 19px 126px 29px 28px;
  transform: translateY(-150%);
  transition: transform 0.5s ease;
}

body header .navbar .choose-model .menu-for-btn li:not(li:last-child) {
  margin-bottom: 10px;
}

body header .navbar .choose-model .menu-for-btn.active {
  transform: translateY(0%);
  transition: transform 0.5s ease;
}

body header .navbar .sec-menu {
  position: relative;
  display: none;
}

body header .navbar .sec-menu .cart {
  position: absolute;
  top: -9px;
  left: -80px;
  z-index: 999;
}

body header .navbar .sec-menu .cart a:last-child {
  position: absolute;
  top: -5px;
  left: 17px;
}

body header .navbar .sec-menu .menu-btn2 {
  width: 20px;
  height: 18px;
  z-index: 999;
  position: absolute;
  top: -5px;
  left: -40px;
  overflow: hidden;
}

body header .navbar .sec-menu .menu-btn2 span {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #838383;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

body header .navbar .sec-menu .menu-btn2 span:nth-child(2) {
  top: calc(50% - 7px);
}

body header .navbar .sec-menu .menu-btn2 span:nth-child(3) {
  top: calc(50% + 7px);
}

body header .navbar .sec-menu .adapt-menu-bar {
  width: 294px;
  z-index: 10;
  position: absolute;
  background: #FFFFFF;
  border-radius: 0px 0px 0px 20px;
  padding: 35px 20.5px 10px 23px;
  transition: all 0.5s ease;
  left: -294px;
  top: -15px;
  transform: translateY(-300%);
  transition: all 0.5s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

body header .navbar .sec-menu .adapt-menu-bar.active {
  transform: translateY(0);
  transition: all 0.5s ease;
}

body header .navbar .sec-menu .adapt-menu-bar .menu-btn3 {
  height: 23px;
}

body header .navbar .sec-menu .adapt-menu-bar li {
  margin-bottom: 18px;
  height: 17px;
}

body header .navbar .sec-menu .adapt-menu-bar li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #101010;
}

body header .navbar .sec-menu .adapt-menu-bar li:first-child {
  height: 23px;
}

body header .navbar .sec-menu .adapt-menu-bar li:first-child .choose-model {
  margin-left: 0;
}

body header .navbar .sec-menu .adapt-menu-bar li:first-child .menu-for-btn2 {
  display: none;
  padding-left: 20px;
}

body header .navbar .sec-menu .adapt-menu-bar li:first-child .menu-for-btn2 li {
  background: none;
  padding-left: 0;
}

body header .navbar .sec-menu .adapt-menu-bar li:first-child .menu-for-btn2 li:first-child {
  margin-top: 10px;
}

body header .navbar .sec-menu .adapt-menu-bar li:first-child .menu-for-btn2.active {
  display: block;
}

body header .navbar .sec-menu .adapt-menu-bar li:nth-child(2) {
  background: url(../img/heart2.svg) center no-repeat;
  background-position: left;
  padding-left: 30px;
  transition: all 0.5s ease;
}

body header .navbar .sec-menu .adapt-menu-bar li:nth-child(2).active {
  transition: all 0.1s ease;
  margin-top: 350px;
}

body header .navbar .sec-menu .adapt-menu-bar li:nth-child(3) {
  background: url(../img/note.svg) center no-repeat;
  background-position: left;
  padding-left: 30px;
}

body header .navbar .sec-menu .adapt-menu-bar li:nth-child(4) {
  background: url(../img/phone2.svg) center no-repeat;
  background-position: left;
  padding-left: 30px;
}

body header .navbar .sec-menu .adapt-menu-bar li:nth-child(5) {
  background: url(../img/lang.svg) center no-repeat;
  background-position: left;
  padding-left: 30px;
  height: 18px;
}

body header .navbar .sec-menu .adapt-menu-bar li:nth-child(5) span:nth-child(2) {
  color: #FFA542;
}

body header .navbar .menu {
  display: flex;
  align-items: center;
}

body header .navbar .menu li {
  cursor: pointer;
}

body header .navbar .menu li:last-child {
  position: relative;
}

body header .navbar .menu li:last-child a:last-child {
  position: absolute;
  top: -5px;
  left: 17px;
}

body header .banner {
  margin-top: 44px;
  background: #101010;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 100%;
  height: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body header .banner p {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  width: 322.5px;
}

body header .banner img {
  margin-top: -29px;
}

body .cases-section {
  margin-top: 44px;
  margin-bottom: 30px;
  transition: 0.41s ease;
}

body .cases-section.active {
  margin-top: 300px;
  transition: all 0.1s ease;
}

body .cases-section .cases {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

body .cases-section .cases > div {
  background-color: #fff !important;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  width: 350px;
  border-radius: 30px;
  padding: 337px 119px 49.65px 119px;
  box-shadow: 0px 0px 20px 0px #0000001A;
  color: #1C1C27;
}

body .cases-section .cases > div:first-child {
  background: url(../img/glass-case.svg) center no-repeat;
  background-position-y: 25px;
}

body .cases-section .cases > div:nth-child(2) {
  background: url(../img/silicone-case.svg) center no-repeat;
  background-position-y: 25px;
}

body .cases-section .cases > div:last-child {
  background: url(../img/leather-case.svg) center no-repeat;
  background-position-y: 25px;
}

body .cases-section .cases-slider {
  display: none;
}

body .cases-section .cases-slider .glass-case,
body .cases-section .cases-slider .silicone-case,
body .cases-section .cases-slider .leather-case {
  background-color: #fff !important;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  width: 350px;
  border-radius: 30px;
  padding: 337px 119px 49.65px 119px;
  box-shadow: 0px 0px 20px 0px #0000001A;
  color: #1C1C27;
}

body .cases-section .cases-slider .glass-case {
  background: url(../img/glass-case.svg) center no-repeat;
  background-position-y: 25px;
}

body .cases-section .cases-slider .silicone-case {
  background: url(../img/silicone-case.svg) center no-repeat;
  background-position-y: 25px;
}

body .cases-section .cases-slider .leather-case {
  background: url(../img/leather-case.svg) center no-repeat;
  background-position-y: 25px;
}

body .headphones-section .headphones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body .headphones-section .headphones > div {
  background-color: #fff !important;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  width: 350px;
  border-radius: 30px;
  padding: 337px 21px 49.65px 21px;
  box-shadow: 0px 0px 20px 0px #0000001A;
  color: #1C1C27;
  margin-bottom: 30px;
  position: relative;
}

body .headphones-section .headphones > div .heart {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

body .headphones-section .headphones > div .main-info {
  display: flex;
  justify-content: space-between;
}

body .headphones-section .headphones > div .rate {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

body .headphones-section .headphones > div .rate img {
  margin-right: 10px;
}

body .headphones-section .headphones > div .rate p {
  padding-top: 3px;
}

body .headphones-section .headphones > div .price {
  color: #FFA542;
}

body .headphones-section .headphones > div .prev-price {
  color: #FFCE7F;
  text-decoration: line-through;
}

body .headphones-section .headphones > div:nth-child(4) .price {
  color: #DF6464;
}

body .headphones-section .headphones > div:nth-child(4) .sale {
  color: #DF6464;
}

body .headphones-section .headphones > div:nth-child(4) .prev-price {
  color: #AAAAAA;
  text-decoration: line-through;
  text-decoration-color: #DF6464;
}

body .headphones-section .headphones > div:nth-child(4) .rate {
  margin-top: 5px;
}

body .headphones-section .headphones > div:first-child {
  background: url(../img/byz.svg) center no-repeat;
  background-position-y: 25px;
}

body .headphones-section .headphones > div:first-child .rate {
  margin-top: 5px;
}

body .headphones-section .headphones > div:nth-child(2) {
  background: url(../img/earpods1.svg) center no-repeat;
  background-position-y: 25px;
}

body .headphones-section .headphones > div:nth-child(3) {
  background: url(../img/earpods2.svg) center no-repeat;
  background-position-y: 70px;
}

body .headphones-section .headphones > div:nth-child(4) {
  background: url(../img/byz.svg) center no-repeat;
  background-position-y: 25px;
}

body .headphones-section .headphones > div:nth-child(5) {
  background: url(../img/earpods1.svg) center no-repeat;
  background-position-y: 25px;
}

body .headphones-section .headphones > div:nth-child(6) {
  background: url(../img/earpods2.svg) center no-repeat;
  background-position-y: 70px;
}

body .headphones-section .headphones-slider {
  display: none;
}

body .headphones-section .headphones-slider .itc-slider__item > div {
  background-color: #fff !important;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  width: 350px;
  border-radius: 30px;
  padding: 337px 21px 49.65px 21px;
  box-shadow: 0px 0px 20px 0px #0000001A;
  color: #1C1C27;
  margin-bottom: 30px;
  position: relative;
}

body .headphones-section .headphones-slider .itc-slider__item > div .heart {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

body .headphones-section .headphones-slider .itc-slider__item > div .main-info {
  display: flex;
  justify-content: space-between;
}

body .headphones-section .headphones-slider .itc-slider__item > div .rate {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

body .headphones-section .headphones-slider .itc-slider__item > div .rate img {
  margin-right: 10px;
}

body .headphones-section .headphones-slider .itc-slider__item > div .rate p {
  padding-top: 3px;
}

body .headphones-section .headphones-slider .itc-slider__item > div .price {
  color: #FFA542;
}

body .headphones-section .headphones-slider .itc-slider__item > div .prev-price {
  color: #FFCE7F;
  text-decoration: line-through;
}

body .headphones-section .headphones-slider .itc-slider__item > div:nth-child(4) .price {
  color: #DF6464;
}

body .headphones-section .headphones-slider .itc-slider__item > div:nth-child(4) .sale {
  color: #DF6464;
}

body .headphones-section .headphones-slider .itc-slider__item > div:nth-child(4) .prev-price {
  color: #AAAAAA;
  text-decoration: line-through;
  text-decoration-color: #DF6464;
}

body .headphones-section .headphones-slider .itc-slider__item > div:nth-child(4) .rate {
  margin-top: 5px;
}

body .headphones-section .headphones-slider .itc-slider__item .byz {
  background: url(../img/byz.svg) center no-repeat;
  background-position-y: 25px;
}

body .headphones-section .headphones-slider .itc-slider__item .byz .rate {
  margin-top: 5px;
}

body .headphones-section .headphones-slider .itc-slider__item .earpods {
  background: url(../img/earpods1.svg) center no-repeat;
  background-position-y: 25px;
}

body .headphones-section .headphones-slider .itc-slider__item .earpods2 {
  background: url(../img/earpods2.svg) center no-repeat;
  background-position-y: 70px;
}

body .headphones-section .headphones-slider .itc-slider__item .byz2 .price {
  color: #DF6464;
}

body .headphones-section .headphones-slider .itc-slider__item .byz2 .sale {
  color: #DF6464;
}

body .headphones-section .headphones-slider .itc-slider__item .byz2 .prev-price {
  color: #AAAAAA;
  text-decoration: line-through;
  text-decoration-color: #DF6464;
}

body .headphones-section .headphones-slider .itc-slider__item .byz2 .rate {
  margin-top: 5px;
}

body .wireless-headphones-section .wireless-headphones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body .wireless-headphones-section .wireless-headphones > div {
  background-color: #fff !important;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  width: 350px;
  border-radius: 30px;
  padding: 337px 21px 49.65px 21px;
  box-shadow: 0px 0px 20px 0px #0000001A;
  color: #1C1C27;
  margin-bottom: 30px;
  position: relative;
}

body .wireless-headphones-section .wireless-headphones > div .heart {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

body .wireless-headphones-section .wireless-headphones > div .main-info {
  display: flex;
  justify-content: space-between;
}

body .wireless-headphones-section .wireless-headphones > div .rate {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

body .wireless-headphones-section .wireless-headphones > div .rate img {
  margin-right: 10px;
}

body .wireless-headphones-section .wireless-headphones > div .rate p {
  padding-top: 3px;
}

body .wireless-headphones-section .wireless-headphones > div .price {
  color: #FFA542;
}

body .wireless-headphones-section .wireless-headphones > div .prev-price {
  color: #FFCE7F;
  text-decoration: line-through;
}

body .wireless-headphones-section .wireless-headphones > div:nth-child(4) .price {
  color: #DF6464;
}

body .wireless-headphones-section .wireless-headphones > div:nth-child(4) .sale {
  color: #DF6464;
}

body .wireless-headphones-section .wireless-headphones > div:nth-child(4) .prev-price {
  color: #AAAAAA;
  text-decoration: line-through;
  text-decoration-color: #DF6464;
}

body .wireless-headphones-section .wireless-headphones > div:nth-child(4) .rate {
  margin-top: 5px;
}

body .wireless-headphones-section .wireless-headphones > div:first-child {
  background: url(../img/airpods.svg) center center no-repeat;
  background-position-y: 25px;
}

body .wireless-headphones-section .wireless-headphones > div:nth-child(2) {
  background: url(../img/airpods-pro.svg) center center no-repeat;
  background-position-y: 25px;
}

body .wireless-headphones-section .wireless-headphones > div:last-child {
  background: url(../img/borofone.svg) center center no-repeat;
  background-position-y: 25px;
}

body .wireless-headphones-section .wireless-headphones-slider {
  display: none;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div {
  background-color: #fff !important;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  width: 350px;
  border-radius: 30px;
  padding: 337px 21px 49.65px 21px;
  box-shadow: 0px 0px 20px 0px #0000001A;
  color: #1C1C27;
  margin-bottom: 30px;
  position: relative;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div .heart {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div .main-info {
  display: flex;
  justify-content: space-between;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div .rate {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div .rate img {
  margin-right: 10px;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div .rate p {
  padding-top: 3px;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div .price {
  color: #FFA542;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div .prev-price {
  color: #FFCE7F;
  text-decoration: line-through;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div:nth-child(4) .price {
  color: #DF6464;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div:nth-child(4) .sale {
  color: #DF6464;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div:nth-child(4) .prev-price {
  color: #AAAAAA;
  text-decoration: line-through;
  text-decoration-color: #DF6464;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item > div:nth-child(4) .rate {
  margin-top: 5px;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item .airpods {
  background: url(../img/airpods.svg) center center no-repeat;
  background-position-y: 25px;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item .gerlax {
  background: url(../img/airpods-pro.svg) center center no-repeat;
  background-position-y: 25px;
}

body .wireless-headphones-section .wireless-headphones-slider .itc-slider__item .borofone {
  background: url(../img/borofone.svg) center center no-repeat;
  background-position-y: 25px;
}

body footer .container {
  padding-top: 29px;
  display: flex;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0px 0px;
  width: 1110px;
  height: 149px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

body footer .social {
  display: flex;
}

body footer .social img {
  cursor: pointer;
  width: 31px;
  height: 31px;
}

body footer .social img:not(img:last-child) {
  margin-right: 18px;
}

body footer .conditions-and-lang p:first-child {
  margin-bottom: 35.78px;
}

body footer .conditions-and-lang p:last-child {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  background: url(../img/lang.svg) center no-repeat;
  background-position: left;
  padding-left: 38px;
}

body footer .conditions-and-lang p:last-child span {
  cursor: pointer;
}

body footer .conditions-and-lang p:last-child span:not(span:last-child) {
  margin-right: 15px;
}

body footer .conditions-and-lang p:last-child span:nth-child(2) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFA542;
}

body footer .services {
  display: flex;
  flex-direction: column;
}

body footer .services a {
  text-decoration: none;
  color: #000;
}

body footer .services a:not(p:last-child) {
  margin-bottom: 10.9px;
}
/*# sourceMappingURL=style.css.map */