body {
    .product-section {
        .product {
            .main-info {
                .total-price {
                    .price-wth-sale {
                        .price {
                            color: #DF6464;
                        }
                        .prev-price {
                            color: #AAAAAA;
                            text-decoration-color: #DF6464;
                        }
                    }
                }
            }
        }
    }
}