body {
    .conditions-section {
        margin-top: 41px;
        margin-bottom: 90px;

        .conditions {
            >div {
                background: #fff;
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                border-radius: 30px;
                margin-bottom: 33px;
                padding: 15px 31px 35px 44px;

                .title-condition {
                    h1 {
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 21px;
                        color: #1C1C27;
                        margin-bottom: 15px;
                        margin-left: -15px;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 21px;
                }
            }
        }
    }
}